{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false,
      "dynamicImport": false
    },
    "transform": null,
    "target": "es2020",
    "externalHelpers": false
  }
}
